main {
  padding: 0;
  background-color: #F5F5F5;
}
.tela {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo {
  width: 120px;
  flex-shrink: 0;
  margin-top: 15px;
}
.header {
  width: 1470px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 2rem;
}
h2 {
  display: block;
  font-family: "Bree Serif", serif;
  font-size: 3rem;
  color: #de1266;
  margin: 0;
}
h3 {
  font-family: "Bree Serif", serif;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  display: none;
}

ul {
  padding-left: 25px;
  margin: 0;
}

.todas-ods {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.card-ods {
  flex-basis: 720px;
  background-color: white;
  margin: 15px;
  display: flex;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.card-ods>div:first-child {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}
.card-ods>div:first-child>div {
  flex-grow: 1
}
.card-ods img {
  width: 200px;
}
.exemplos {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.exemplos div:first-of-type{
  padding: 2rem 2rem 1rem 2rem;
}
.exemplos div:nth-of-type(2) {
  padding: 1rem 2rem;
  background-color: #f5f5f5;
  color: #242e36;
}
.exemplos p {
  margin-bottom: 0
}




@media (max-width: 1546px) {
  .header {
    width: 1230px;
  }
  .card-ods {
    flex-basis: 600px;
  }
  h2 {
    font-size: 2.5rem;
  }
  .logo {
    margin-left: 40px;
  }
}

@media (max-width: 1305px) {
  .header {
    width: 750px;
  }
  .card-ods {
    flex-basis: 750px;
  }

}

@media (max-width: 780px) {
  .header {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575.98px) {
  .card-ods {
    flex-direction: column;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .card-ods>div:first-child {
    flex-direction: row;
    justify-content: center;
  }
  .card-ods>div:first-child>div {
    height: 100%;
    margin-top: -1rem;
    display: flex;
    justify-content: center;
    max-width: 50%;
  }
  .card-ods>div:first-child>div img {
    width: 100%;
  }
  .header {
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
  }
  h2 {
    font-size: 2rem;
    order: 2;
  }
  .logo {
    margin-left: 0;
    margin-bottom: 20px;
  }
  .exemplos div:first-of-type{
    padding-left: 15px;
    padding-right: 15px;
  }
 }

 /*CSS para impressão*/
 @media print {
   h3 {
     display: block;
   }
   .card-ods>div:first-child {
     display: none;
   }
   .exemplos div:nth-of-type(2) {
     display: none;
   }
   .todas-ods {
     width: 100%;
   }
   .card-ods {
     width: 100%;
     flex-basis: 720px;
     background-color: white;
     margin: 15px;
     display: flex;
     box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
   }

 }

/* ODS COLORS */
.ods-1-bg { background-color: #e5243b }
.ods-2-bg { background-color: #dda63a }
.ods-3-bg { background-color: #4c9f38 }
.ods-4-bg { background-color: #c5192d }
.ods-5-bg { background-color: #ff3a21 }
.ods-6-bg { background-color: #26bde2 }
.ods-7-bg { background-color: #fcc30b }
.ods-8-bg { background-color: #a21942 }
.ods-9-bg { background-color: #fd6925 }
.ods-10-bg { background-color: #dd1367 }
.ods-11-bg { background-color: #fd9d24 }
.ods-12-bg { background-color: #bf8b2e }
.ods-13-bg { background-color: #3f7e44 }
.ods-14-bg { background-color: #0a97d9 }
.ods-15-bg { background-color: #56c02b }
.ods-16-bg { background-color: #00689d }
.ods-17-bg { background-color: #19486a }
.ods-0-bg { background-color: #242e36 }
